.sidebar-background{
  background-color: #000000;
  /* box-shadow: 5px 5px 5px 2px rgba(180, 171, 171, 0.8); */
  height:100vh;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-item-mobile-link {
  font-size:25px;
  font-weight: bold;
  color: #e2d9d9;
  margin-top: 10px;
  margin:5px;
  align-items: center;
}

.profile-img {
  width: 3vw;
  height:6vh;
  border-radius: 50%;
  margin-top:15px;
}
.card-icons{
  display: flex;
  flex-direction: column;     
}
.icons{
  margin-top:40px;
  display: flex;
  flex-direction: column;
}
.sidebar-item{
  display: flex;
  flex-direction: row;
  margin-top:10px;
}
.sidebar-description{
  font-size: 17px;
  font-family: "roboto";
  color:#e2d9d9;
  margin:10px;
}
.pop-heading{
  color:aliceblue;
  font-family: 30px;
  margin:5px;
  padding-left:5px;
}
.profile-success-container{
  display: flex;
}
.last-item{
  margin-bottom: 60px;
}
.chat-icon{
  background-color: rgb(11, 129, 207);
  margin:5px;
  border-radius: 8px;
}